
@{
    ViewBag.Title = "CTtintuc";
    Layout = "~/Views/Shared/_LayoutThongtin.cshtml";
}



<section id="page-content" class="page-wrapper">
    <!-- BLOG SECTION START -->
    <div class="blog-section mb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <div class="blog-details-area">
                        <!-- blog-details-photo -->
                        <div class="blog-details-photo bg-img-1 p-20 mb-30">
                            <img src="~/sanpham/@Model.Anhtintuc" alt="">
                            <div class="today-date bg-img-1">
                                <span class="meta-date">@Model.NgayCapNhat</span>
                  
                            </div>
                        </div>
                        <!-- blog-like-share -->
                        <ul class="blog-like-share mb-20">
                            <li>
                                <a href="#"><i class="zmdi zmdi-favorite"></i>89 Like</a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-comments"></i>59 Comments</a>
                            </li>
                            <li>
                                <a href="#"><i class="zmdi zmdi-share"></i>29 Share</a>
                            </li>
                        </ul>
                        <!-- blog-details-title -->
                        <h3 class="blog-details-title mb-30">@Model.TieuDe</h3>
                        <!-- blog-description -->
                        <div class="blog-description mb-60">
                            
                            <p>@Html.Raw(Model.NoiDung)</p>
                        </div>
                        <!-- blog-share-tags -->
                        <div class="blog-share-tags box-shadow clearfix mb-60">
                            <div class="blog-share f-left">
                                <p class="share-tags-title f-left">share</p>
                                <ul class="footer-social f-left">
                                    <li>
                                        <a class="facebook" href="" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="google-plus" href="" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a class="rss" href="" title="RSS"><i class="zmdi zmdi-rss"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="blog-tags f-right">
                                <p class="share-tags-title f-left">Tags</p>
                                <ul class="blog-tags-list f-left">
                                    <li><a href="#">Mobile</a></li>
                                    <li><a href="#">IOS</a></li>
                                    <li><a href="#">Windows</a></li>
                                    <li><a href="#">Tab</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- author-post -->
                        <div class="media author-post box-shadow mb-60">
                            <div class="media-left pr-20">
                                <a href="#">
                                    <img class="media-object" src="img/author/1.jpg" alt="#">
                                </a>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading">
                                    <a href="#">Subas Chandra Das</a>
                                </h6>
                                <p class="mb-0">No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursu pleasure rationally encounter conseques ences that are extremely painful.</p>
                            </div>
                        </div>
                        <!-- comments on t this post -->
                        <div class="post-comments mb-60">
                            <h4 class="blog-section-title border-left mb-30">comments on this product</h4>
                            <!-- single-comments -->
                            <div class="media mt-30">
                                <div class="media-left pr-30">
                                    <a href="#"><img class="media-object" src="img/author/2.jpg" alt="#"></a>
                                </div>
                                <div class="media-body">
                                    <div class="clearfix">
                                        <div class="name-commenter f-left">
                                            <h6 class="media-heading"><a href="#">Gerald Barnes</a></h6>
                                            <p class="mb-10">27 Jun, 2017 at 2:30pm</p>
                                        </div>
                                        <ul class="reply-delate f-right">
                                            <li><a href="#">Reply</a></li>
                                            <li>/</li>
                                            <li><a href="#">Delate</a></li>
                                        </ul>
                                    </div>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis atestese bibendum feugiat ut eget eni Praesent  messages in con sectetur posuere dolor non.</p>
                                </div>
                            </div>
                            <!-- single-comments -->
                            <div class="media mt-30">
                                <div class="media-left pr-30">
                                    <a href="#"><img class="media-object" src="img/author/3.jpg" alt="#"></a>
                                </div>
                                <div class="media-body">
                                    <div class="clearfix">
                                        <div class="name-commenter f-left">
                                            <h6 class="media-heading"><a href="#">Gerald Barnes</a></h6>
                                            <p class="mb-10">27 Jun, 2017 at 2:30pm</p>
                                        </div>
                                        <ul class="reply-delate f-right">
                                            <li><a href="#">Reply</a></li>
                                            <li>/</li>
                                            <li><a href="#">Delate</a></li>
                                        </ul>
                                    </div>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis atestese bibendum feugiat ut eget eni Praesent  messages in con sectetur posuere dolor non.</p>
                                </div>
                            </div>
                        </div>
                        <!-- leave your comment -->
                        <div class="leave-comment">
                            <h4 class="blog-section-title border-left mb-30">leave your comment</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="name" placeholder="Subas Chandra Das">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="email" placeholder="Email address here...">
                                </div>
                                <div class="col-md-12">
                                    <input type="text" name="subject" placeholder="Subject here...">
                                </div>
                                <div class="col-md-12">
                                    <textarea class="custom-textarea" placeholder="Your comment here..."></textarea>
                                </div>
                            </div>
                            <button class="submit-btn-1 black-bg mt-30 btn-hover-2" type="submit">submit comment</button>
                        </div>
                        <!--  -->
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <!-- widget-search -->
                    <aside class="widget-search mb-30">
                        <form action="#">
                            <input type="text" placeholder="Search here...">
                            <button type="submit"><i class="zmdi zmdi-search"></i></button>
                        </form>
                    </aside>
                    <!-- widget-categories -->
                    <aside class="widget widget-categories box-shadow mb-30">
                        <h6 class="widget-title border-left mb-20">Categories</h6>
                        <div id="cat-treeview" class="product-cat">
                            <ul>
                                <li class="closed">
                                    <a href="#">Brand One</a>
                                    <ul>
                                        <li><a href="#">Mobile</a></li>
                                        <li><a href="#">Tab</a></li>
                                        <li><a href="#">Watch</a></li>
                                        <li><a href="#">Head Phone</a></li>
                                        <li><a href="#">Memory</a></li>
                                    </ul>
                                </li>
                                <li class="open">
                                    <a href="#">Brand Two</a>
                                    <ul>
                                        <li><a href="#">Mobile</a></li>
                                        <li><a href="#">Tab</a></li>
                                        <li><a href="#">Watch</a></li>
                                        <li><a href="#">Head Phone</a></li>
                                        <li><a href="#">Memory</a></li>
                                    </ul>
                                </li>
                                <li class="closed">
                                    <a href="#">Accessories</a>
                                    <ul>
                                        <li><a href="#">Footwear</a></li>
                                        <li><a href="#">Sunglasses</a></li>
                                        <li><a href="#">Watches</a></li>
                                        <li><a href="#">Utilities</a></li>
                                    </ul>
                                </li>
                                <li class="closed">
                                    <a href="#">Top Brands</a>
                                    <ul>
                                        <li><a href="#">Mobile</a></li>
                                        <li><a href="#">Tab</a></li>
                                        <li><a href="#">Watch</a></li>
                                        <li><a href="#">Head Phone</a></li>
                                        <li><a href="#">Memory</a></li>
                                    </ul>
                                </li>
                                <li class="closed">
                                    <a href="#">Jewelry</a>
                                    <ul>
                                        <li><a href="#">Footwear</a></li>
                                        <li><a href="#">Sunglasses</a></li>
                                        <li><a href="#">Watches</a></li>
                                        <li><a href="#">Utilities</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </aside>
                    <!-- widget-product -->
                    <aside class="widget widget-product box-shadow mb-30">
                        <h6 class="widget-title border-left mb-20">recent products</h6>
                        <!-- product-item start -->
                        <div class="product-item">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="img/product/4.jpg" alt="" />
                                </a>
                            </div>
                            <div class="product-info">
                                <h6 class="product-title">
                                    <a href="single-product.html">Product Name</a>
                                </h6>
                                <h3 class="pro-price">$ 869.00</h3>
                            </div>
                        </div>
                        <!-- product-item end -->
                        <!-- product-item start -->
                        <div class="product-item">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="img/product/8.jpg" alt="" />
                                </a>
                            </div>
                            <div class="product-info">
                                <h6 class="product-title">
                                    <a href="single-product.html">Product Name</a>
                                </h6>
                                <h3 class="pro-price">$ 869.00</h3>
                            </div>
                        </div>
                        <!-- product-item end -->
                        <!-- product-item start -->
                        <div class="product-item">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img src="img/product/12.jpg" alt="" />
                                </a>
                            </div>
                            <div class="product-info">
                                <h6 class="product-title">
                                    <a href="single-product.html">Product Name</a>
                                </h6>
                                <h3 class="pro-price">$ 869.00</h3>
                            </div>
                        </div>
                        <!-- product-item end -->
                    </aside>
                    <!-- operating-system -->
                    <aside class="widget operating-system box-shadow">
                        <h6 class="widget-title border-left mb-20">operating system</h6>
                        <form action="action_page.php">
                            <label><input type="checkbox" name="operating-1" value="phone-1">Windows Phone</label><br>
                            <label><input type="checkbox" name="operating-1" value="phone-1">Bleckgerry ios</label><br>
                            <label><input type="checkbox" name="operating-1" value="phone-1">Android</label><br>
                            <label><input type="checkbox" name="operating-1" value="phone-1">ios</label><br>
                            <label><input type="checkbox" name="operating-1" value="phone-1">Windows Phone</label><br>
                            <label><input type="checkbox" name="operating-1" value="phone-1">Symban</label><br>
                            <label class="mb-0"><input type="checkbox" name="operating-1" value="phone-1">Bleckgerry os</label><br>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- BLOG SECTION END -->
</section>

