@model IEnumerable<CVMSanpham.Models.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@foreach (var sanpham in Model)
{


    <!-- product-item start -->
    <div class="col-xs-12">
        <div class="product-item product-item-2">
            <div class="product-img">
                <a href="@Url.Action("Details", "Laptopstore", new {id = sanpham.MaSP})">
                    <img alt="@sanpham.TenSP" src="~/sanpham/@sanpham.Anhbia" width="220"/>
                </a>
            </div>
            <div class="product-info">
                <h6 class="product-title">
                    <a href="single-product.html">@sanpham.TenSP</a>
                </h6>
                <h3 class="pro-price" style="color: red">@sanpham.GiaHienTai VNĐ</h3>

            </div>
            <ul class="action-button">
                <li>
                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                </li>
                <li>
                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                </li>
                <li>
                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!--asd-->
 



}
